@font-face {
    font-family: "Spacey-Regular";
    src: url("./Spacey-Regular.ttf");
}

.App-header {
    font-family: 'Spacey-Regular';
    text-align: center;
    background-color: #222;
    font-size: 75px;
    padding: 10px;
    color: white;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100vw;
    height: 100vh;
}

@media only screen and (min-width: 780px) {
    .App-header {
        font-size: 175px !important;
        justify-content: space-between;
    }

    .random-secret, .random-secret * {
        font-size: 25px !important;
    }
}

.App-header p {
    margin-bottom: 0 !important;
}

.random-secret, .random-secret * {
    font-size: 13px !important;
    color: white !important;
    display: inline-block;
    text-transform: lowercase !important;
}

.dot {
    display: flex;
    justify-content: center;
    animation: fallDown 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes fallDown {
    0% {
        opacity: 1;
        transform: translate(0, 2px);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, 5px);
    }
}

.App-body {
    padding-top: 25px;
    padding-left: 10vw;
}

.title {
    font-family: serif;
    font-size: 30px;
}

.veggie {
    font-family: sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1.5;
}

a {
    color: initial;
}

a:hover {
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;
}

footer {
    text-align: right;
    text-decoration: none;
    margin-right: 20px;
}
