@font-face {
    font-family: "Spacey-Regular";
    src:url("./Spacey-Regular.ttf");
}

/*.App {
}*/

.App-header {
  font-family: 'Spacey-Regular';
  text-align: center;
  background-color: #222;
  font-size: 190px;
  padding: 10px;
  color: white;
}

.dot {
  display: flex;
  justify-content: center;
  animation: fallDown 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes fallDown {
  0% { opacity: 1; transform: translate(0, 2px); }
  100% { opacity: 0.2; transform: translate(0, 5px); }
}

.App-body {
  padding-top: 25px;
  padding-left: 10vw;
}

.title {
  font-family: serif;
  font-size: 30px;
}

.veggie {
  font-family: sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1.5;
}

a {
  color: initial;
}

a:hover {
  font-weight: 900;
  color: rgba(0,0,0,0.5);
  transition: all 0.1s ease-in-out;
}

footer {
  text-align: right;
  text-decoration: none;
  margin-right: 20px;
}